@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600;700&family=Poppins:wght@700&display=swap');

/* Essential Stuff */

a {
    text-decoration: none;
   }

hr {
    margin: 12px;
}

#body {
    background-color: #02070C;        
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

/* Navigation Bar */
.navbar {
    width: 100%;
    color: white;
    z-index: 100;
    transition: .3s;
}

.navbar ul a {
    text-decoration: none;
    color: white;
}

.navbar ul li {
    cursor: pointer;
    transition: .3s;
}

.hamburger {
    display: none;

}

.bar {
    transition: .3s;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);

}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.navigations-navbar {
    transition: .3s;
    list-style-type: unset;
    height: 0%;
}

.navigations-navbar.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: end;
    text-align: end;

    border-radius: 8px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.626);
    padding: 1%;
    right: 10%;
    top: 140px;
    height: 100%;
}

.navigations-navbar.active li {
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0 10px 50px rgba(255, 255, 255, 0.626);
}

.navigations-navbar.active a::after {
    content: "";
    height: 3px;
    width: 20px;
    background-color: #5d2424;
}

@media (max-width: 835px) {
    .navbar ul li {
        font-size: 8px;
    }

    .navigations-navbar {
        background: rgba(62, 62, 62, 0.8);
        display: none;
        height: 0%;
    }

    .hamburger {
        display: block;
        transition: .3s;
    }

    .hamburger.sticky {
        background-color: rgba(0, 0, 0, 0.584);
        padding-top: 9px;
        padding-bottom: 11px;
        padding-left: 9px;
        padding-right: 9px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

}



.hamburger .bar {

    width: 26px;
    height: 3px;
    margin-top: 5px;

    background-color: white;
}

.navbar ul li:hover {
    color: #FF6969;
    text-shadow: 0 10px 30px #FF6969;

}

.navbar.sticky .title-bar {
    opacity: 0;
}



.title-bar {
    transition: .3s;
}

.navbar ul {
    transition: .3s;
    border-radius: 8px;
}

.navbar.sticky ul {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    border: 0.2px solid rgb(71, 71, 71);
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.626);
    padding: 1%;
}

.title-bar {
    font-family: 'Inter', sans-serif;
    transition: .1s;
}

.title-bar span {
    color: #FF6969;
}

.item-navbar {
    display: inline;
    margin-right: 22px;
    margin-left: 22px;
}

/* Home Section */

#home {
    min-height: 782px;
    background-image: radial-gradient(#ffffff57 2px, transparent 2px);
    background-size: 150px 150px; 
    background-attachment: fixed;  
    background-position: center;  
    transition: 2s;
    box-shadow: inset 0 -4px 0 0 white;
}

.image-wrapper {
    position: relative; /* Ensure the wrapper is positioned relative */
}

.image-wrapper img {
    display: block; /* Ensures no extra space below the image */
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.overlay-spotify {
    position: absolute;
    top: 20%;
    left: 32%; /* Adjust as needed */
    width: 80%; /* Span the entire width of the image */
    padding: 12px;
    color: white; /* Text color */
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.album-card {
    height: 50px;
    width: 50px;    
    background-position: center;
    background-size: contain;
    border-radius: 8px;
}



.wrapper-album-spotify {        
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 12px;
}

.wrapper-album-spotify img {
    height: 50px;
    width: 50px;
}

.wrapper-text-spotify {
    margin-left: 12px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.text-spotify {
    line-height: 0.7;    
}

.text-spotify:nth-child(2) {
    font-weight: 300;
}


#home.sticky {
    background-image: radial-gradient(#ffffff57 2px, transparent 2px);
    background-size: 65px 65px;     
}

@media (max-width: 991px) {
    #home {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.585), #02070C),
            url(../../assets/image-myself2.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.home-body {
    height: 100%;
}


.home-body-right .container img {
    padding-top: 100px;
    padding-bottom: 100px;
}

.title-home {
    font-family: 'Inter', sans-serif;
    font-weight: 600;    
    font-size: 76px;
    line-height: 97%;
    text-shadow: 0 100px 120px #FF6969;
    color: white;
    cursor: default;     
}

@keyframes cursor {
    50% {border-color: transparent;}
}

@media (max-width: 766px) {
    .title-home {
        font-size: 49px;
    }
}

.title-home span {
    background: -webkit-linear-gradient(#FF6969, #924343);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}

.title-home::after {
    content: "";
    width: 27px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #FF6969;
    height: 3px;
    display: block;
}

.subtitle-home {
    max-width: 508px;
    font-size: 18px;
    font-weight: 300;
    cursor: default;
    color: #B4B4B4;
}

@media (max-width: 766px) {
    .subtitle-home {
        font-size: 16px;
        width: 100%;
        z-index: 1;
    }
}

.button-home {
    width: 138px;
    height: 52px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    transition: .4s;
    font-size: 16px;
}

@media (max-width: 766px) {
    .button-home {
        width: 108px;
        font-size: 13px;
        height: 42px;
        border-radius: 8px;
    }
}

.button-one-home {
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #FF6969;
    stroke-width: 2px;
    color: white;    
}

.button-two-home {
    background-color: #FF6969;
    color: white;
    cursor: pointer;

}

.button-one-home:hover {
    text-shadow: 0 1px 10px #ffffff;
    border: 2px solid white;

}

.button-two-home:hover {
    background-color: white;
    color: #FF6969;

}

.button-home:hover {

    border-radius: 15px;
    bottom: 2;
}


/* Technologies Section */
#technologies {
    min-height: 190px;
    background-color: white;
    box-shadow: inset 0 -10px 0 0 white;
}

.title-technologies {
    color: #7A7A7A;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    cursor: default;
}

.logos-technologies img {
    margin-right: 61px;
    margin-left: 61px;
    align-items: center;
    filter: grayscale(100%);
    width: 150px;
    height: auto;
    transition: .4s;
}



@media (max-width: 816px) {
    .logos-technologies img {
        margin-bottom: 42px;
        width: 120px;
    }
}

/* About Me Section */

.title-aboutme {
    font-family: 'Inter', sans-serif;
    font-size: 69px;
    cursor: default;
    line-height: 92%;
}

.more-about-me {
    font-size: 18px;
}


@media (max-width: 899px) {
    .about-me-right {
        width: 899px;
    }
}

.title-aboutme span {
    cursor: default;
    background: -webkit-linear-gradient(#FF6969, #924343);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle-aboutme {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    max-width: 550px;
    cursor: default;
    color: #9a9a9a;
}

@media (max-width: 766px) {
    .title-aboutme {
        font-size: 42px;
    }

    .subtitle-aboutme {
        font-size: 15px;
    }
}

.about-yoepc-title h1 {
    cursor: default;
    background: -webkit-linear-gradient(#FF6969, #924343);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 78px;
    line-height: 97%;
    max-width: 644px;
    text-shadow: 0 0px 50px #FF6969;

}



.about-me-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 766px) {
    .about-me-right {

        justify-content: start;
    }
}

.about-yoepc-title h5 {
    font-size: 32px;
    line-height: 97%;
    cursor: default;
}

.about-yoepc-desc {
    cursor: default;
    max-width: 290px;
    color: #E7E7E7;
    font-family: 'Inter', sans-serif;
}


@media (max-width: 766px) {
    .about-yoepc-wrapper {
        margin-top: 42px;
    }

    .about-yoepc-title h1 {
        font-size: 48px;
    }

    .about-yoepc-title h5 {
        font-size: 22px;
    }

    .about-yoepc-desc {
        font-size: 13px;
    }
}

/* Section Services */

#services {
    min-height: 649px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-services {
    font-family: 'Inter', sans-serif;
    cursor: default;
    cursor: default;
}

.subtitle-services {
    font-family: 'Inter', sans-serif;
    cursor: default;
    color: #acacac;
    cursor: default;
}

.card-services {
    width: 361px;
    height: 378px;
    padding: 1.5%;
    margin-right: 18px;
    margin-left: 18px;
    background-color: #686868;
    border-radius: 26px;
    border: 2px solid #969696;
    transition: .4s;
    cursor: pointer;
}

.card-services-title {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    line-height: 95%;
    
    font-size: 39px;
}

.header-services h1::before {
    content: "";
    width: 92px;
    background-color: gray;
    height: 3px;
    margin-bottom: 14px;
    margin-right: 8px;
    display: inline-block;

}

.header-services h1::after {
    content: "";
    width: 92px;
    background-color: gray;
    height: 3px;
    margin-bottom: 14px;
    margin-left: 8px;
    display: inline-block;

}

@media (max-width: 433px) {
    .header-services h1::after {
        width: 72px;
    }

    .header-services h1::before {
        width: 72px;
    }

}

@media (max-width: 766px) {
    .card-services {
        margin-top: 32px;
        height: 278px;
        width: 600px;
        padding: 3%;

    }
}

@media (max-width: 1190px) {
    .card-services {
        margin-top: 32px;
    }
}

.card-services-subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    line-height: 97%;
    
    font-size: 18px;
}

.icon-card-services {
    margin-bottom: 62px;
}

.card-services:hover {
    background-color: #FF6969;
    border: 2px solid rgb(223, 153, 153);
    box-shadow: 0 10px 120px #FF6969;
}

/* Skills Section */

#skills {
    padding-top: 120px;
    padding-bottom: 120px;
}


.title-skills {
    cursor: default;
    font-family: 'Inter', sans-serif;
}

.subtitle-skills {
    cursor: default;
    font-family: 'Inter', sans-serif;
    color: #acacac;
}

.title-skills::before {
    content: "";
    width: 92px;
    background-color: gray;
    height: 3px;
    margin-bottom: 14px;
    margin-right: 8px;
    display: inline-block;

}

.title-skills::after {
    content: "";
    width: 92px;
    background-color: gray;
    height: 3px;
    margin-bottom: 14px;
    margin-left: 8px;
    display: inline-block;
}

@media (max-width: 433px) {
    .title-skills::after {
        width: 72px;
    }

    .title-skills::before {
        width: 72px;
    }
}

.card-skills {
    max-width: 408px;
    height: 244px;
    border-radius: 22px;
    background-color: #838383b9;
    border: 0.4px solid rgb(158, 158, 158);
    transition: .3s;
}

.card-skills:hover {
    scale: 1.02;
}

@media (max-width: 670px) {
    .card-skills {
        margin-left: 18px;
        margin-right: 18px;
        
    }
}

@media (max-width: 820px) {
    .card-skills {
     width: 320px;
     height: 264px;
    }
}

.content-cs {
    margin: 4%;
}

.wrapper-icon-cs {
    height: 52px;
    width: 52px;
    background-color: #cdcdcd86;
    border-radius: 10px;

    background-repeat: no-repeat;
    background-position: center center;


}


.wicon-cs-1 {
    background-image: url(../../assets/icon-photoshop.png);

}



.wicon-cs-2 {
    background-image: url(../../assets/icon-figma.png);

}


.wicon-cs-3 {
    background-image: url(../../assets/icon-premierepro.png);

}

.texts-cs {
    margin-top: 26px;
}

.title-cs {
    cursor: default;
    font-size: 25px;
    line-height: 97%;
}

.subtitle-cs {
    font-size: 16px;
    cursor: default;
    font-weight: 400;
    color: #e7e7e7cd;
}

.subtitle-cs span {
    font-weight: 400;
    color: white;
}


/* Section Projects */
#projects {
    background-color: white;

    padding-bottom: 70px;
}

.header-projects {
    margin: 60px;
}

.title-projects {
    line-height: 95%;
    cursor: default;
}

.subtitle-projects {
    line-height: 95%;
    cursor: default;
    color: #acacac;
}

.wpr-projct {
    text-decoration: none;
    color: black;
}

.btn-cfm {
    font-size: 22px;

}

.btn-cfm i {
    color: #FF6969;
}

.body-projects {
    margin: 50px;
}

.cards-bp-overlay {
    visibility: hidden;    
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;        
    justify-content: center;
    height: 100%;
    width: 100%;
}

.text-card-sat {   
    height: 22px;
    font-weight: 800;
    color: black;
}
.text-card-sat:nth-child(2) {   
    height: 12px;
    font-weight: 300;
    font-size: 14px;
    margin-top: 23px;
}

.image-cards-bp {
    background-color: white;
    border-radius: 13px;
}

.image-cards-bp:hover img {
    opacity: 0.3;
}

.image-cards-bp:hover .cards-bp-overlay {
    visibility: visible;
}

.row-of-icons-bp i:hover {
    color: #FF6969;
}

.card-projects {
    width: 510px;
    height: 297px;
    background-color: #eaeaea;
    border-radius: 13px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    box-shadow: 0 10px 20px #00000062;
    transition: .4s;
}

@media (max-width: 766px) {
    .card-projects {
        width: 380px;
        height: 200px;
    }

}

.cards-image-wrapper {
    text-decoration: none;
    color: #02070C;
}

.card-projects:hover {
    scale: 1.2;
    filter: blur(10px);

}

.texts-bp-overlay h1 {
    line-height: 78%;
    cursor: default;
}



.title-footer:hover span {
    color: #FF6969;
    cursor: default;
}

.text-footer-projects i {
    transition: .3s;
}

.text-footer-projects:hover i {
    margin-left: 5px;
    color: #FF6969;
}

@media (max-width: 751px) {
    .fsi-2 {
        margin-top: 22px;
    }
}


/* Footer */
#footer {
    min-height: 499px;
}

.footer-wrapper {
    height: 499px;
    display: flex;
    align-items: center;
}



.title-footer {
    font-size: 28px;
}

.title-footer span {
    color: #FF6969;
}

.title-footer::after {
    display: block;
    content: "";
    margin-top: 18px;
    margin-bottom: 18px;
    height: 3px;
    width: 30px;
    background-color: #7e7e7e;
}

.subtitle-footer {
    font-size: 16px;
    color: #C9C9C9
}

.footer-semi-items {
    width: 328px;
}

.icons-socials-footer {
    height: 52px;
    width: 52px;
    background-color: #cdcdcd7d;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.icons-socials-footer:hover {
    background-color: #FF6969;
}

.footer-divider {
    display: flex;
    height: 1px;
    background: -webkit-linear-gradient(42deg, #ffffff, #5d2424);
    margin: 3%;
}

.footer-copyright {
    color: #7A7A7A;
}